body{ padding:0; margin:0}
#main { display: block; overflow: hidden; width:100%; min-width: 1000px; position: relative; background: #EFF4F5; }
#index_b_hero { width: 1000px; height: 420px; margin: 0 auto; position: relative; }
#index_b_hero img { width: 1000px; height: 420px; }
#index_b_hero .heros { width: 1000; height: 420px; }
#index_b_hero .hero-wrap { overflow: visible; position: absolute; }
#index_b_hero .next, #index_b_hero .prev {background:url(http://image.kuwo.cn/www2014/empty.gif);  position: absolute; top: 0;  width: 1000px; height: 420px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#D8FFFFFF', endColorstr='#D8FFFFFF');background:rgba(255,255,255,0.60);}
#index_b_hero .next:hover, #index_b_hero .prev:hover {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#D8FFFFFF', endColorstr='#D8FFFFFF');background:rgba(255,255,255,0.65);}
#index_b_hero .prev { left: -999px; }
#index_b_hero .next { left: 1000px; }
#index_b_hero .disabled { background-color: #eee; }
#index_b_hero .hero { background: #000; position: absolute; top: 0; left: 0; width: 1000px; height: 420px; overflow: hidden; left: 2000px; }
#index_b_hero .mask-right { left: -100px;}
#index_b_hero .mask-left { right: -100px;}
#index_b_hero .active { z-index: 2; left: 0;}
#index_b_hero .mask-right, #index_b_hero .mask-left{ position:absolute; top:50%; height:78px; width:78px; overflow:hidden; margin-top:-39px; background:url(http://image.kuwo.cn/www2014/FocusBtn.png) no-repeat; z-index:1000; display:none;}
#index_b_hero .mask-right{ background-position:-78px 0;}
#index_b_hero .mask-right:hover{ background-position:-78px -78px;}
#index_b_hero .mask-left{ background-position:0 0;}
#index_b_hero .mask-left:hover{ background-position:0px -78px;}