@charset "utf-8";
/* CSS Document */
body{	
	text-align: center;
    text-
	
	.bg .login .form-group{
	padding:10px 30px;
	margin:0; 
	}
	
	.bg .login button{
	margin:0 30px;
	}
	
	.bg{
	background: url(file:///D:/myweb/bg.jpg) no-repeat center;
	}
}
