#loginModal{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:  translateY(-50%);
  -ms-transform:  translateY(-50%);
  -o-transform:  translateY(-50%);
  transform:  translateY(-50%);
  background-color: white;
}

.btn-success {
    color: #fff;
    background-color: #c4290D;
    border-color: #c4290D;
    text-align:center;
}
a{
	color:#fff;
}
.text-primary {
    color: #c4290D;
}

.modal{
	height:470px;
}